.intro {
    opacity: 1;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    background: $primBgColor;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;

    &-clean{
        opacity: 0;
        transition: opacity 2s;
        display: none;
    }

    &__box {
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translateX(-50px) translateY(-50px);
        width: 100px;
        height: 100px;
    
        &-move{
            top: -1rem;
            left: 76vw;
            transform: scale(40%);
           transition: 1s ease-in-out;

           @include breakpoint-up(medium) {
            top: -1rem;
            left: 89vw;
        }

        @include breakpoint-up(large) {
            padding: 0.2rem;
            left: 95vw;
            top: 60vh;
            transform: scale(5);
            transition: 1s ease-in-out;
            opacity: 0.1;
            z-index: 2;
            height: 300px;
        }
        }
        

    }



    &__cycle {
        border: 5px solid $primFontColor;
        border-top: 5px solid $secnFontColor;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spin 1s linear infinite;

        &-end{
            border-top: 5px solid $primFontColor;
            animation: 0;
        }
    }



    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &__logo {
        //opacity: 0.5;
        display: none;
        width: 90px;
        height: 90px;
        position: relative;
        top: -100px;
        border: 5px solid $primFontColor;;
        overflow: hidden;
        clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0%, 50% 0%, 50% 0, 50% 0, 50% 0);
        animation: show 2s linear forwards;  

        &-cycle {
            border: 5px solid $primFontColor;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            position: relative;
            top: -5px;
            left: -5px;
        }

        &-square {
            width: 100px;
            height: 100px;
            border: 5px solid $primFontColor;;
            transform: rotate(45deg);
            position: relative;
            left: -10px;
            top: -184px;
        }

        &-hline {
            position: relative;
            top: -166px;
            width: 90px;
            height: 10px;
            border-top: 5px solid $primFontColor;;
        }

        &-vline {
            position: relative;
            top: -225px;
            left: 43px;
            width: 10px;
            height: 90px;
            border-left: 5px solid $primFontColor;;
        }

        @keyframes show {
            0% {
                clip-path: polygon(
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0,
                    50% 0
                );
            }
            10% {
                clip-path: polygon(
                    46% 0,
                    54% 0,
                    54% 0,
                    54% 0,
                    54% 0,
                    54% 0,
                    54% 0,
                    46% 0,
                    46% 0,
                    46% 0,
                    46% 0,
                    46% 0
                );
            }
            60% {
                clip-path: polygon(
                    46% 0,
                    54% 0,
                    54% 54%,
                    54% 54%,
                    54% 54%,
                    54% 54%,
                    54% 54%,
                    46% 54%,
                    46% 54%,
                    46% 54%,
                    46% 54%,
                    46% 54%
                );
            }


            90% {
                clip-path: polygon(
                    46% 0,
                    54% 0,
                    100% 0,
                    100% 46%,
                    100% 100%,
                    54% 54%,
                    100% 100%,
                    0% 100%,
                    46% 54%,
                    0% 100%,
                    0% 46%,
                    0% 0%
                );
            }

            100% {
                clip-path: polygon(
                    46% 0,
                    54% 0,
                    100% 0,
                    100% 46%,
                    100% 100%,
                    54% 54%,
                    100% 100%,
                    0% 100%,
                    46% 54%,
                    0% 100%,
                    0% 46%,
                    0% 0%
                );
            }

        }
    }
}
