//color
$primBgColor: #000000;
$secnBgColor: #252525;
$thirBgColor: #0e0e0e;
$transBgColor: rgba(0, 0, 0, 0);
$primFontColor: #a8a8a8;
$secnFontColor: #424242;
$thirFontColor: #0e0e0e;

$primGradientColor:  linear-gradient(to bottom, #D9F6FF 0%, #A6C3EB 100%);
$shadowing: #00000094;

//font
$fontOne: 'Playfair Display', serif;
